.footer{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    font-size: 12px;
    color: #ffffff;
    background-color: #414042;
    .footer-link{
        color: #ffffff;
    }
}