<!doctype html>
<html lang="en">
<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
    "title": "HTML & CSS Bài 2"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>
<body>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header.html')

    <!-- include feature.html -->
    @@include('../layouts/feature.html')

    <!-- include gallery.html -->
    @@include('../layouts/gallery.html')

    <!-- include video.html -->
    @@include('../layouts/video.html')

    <!-- include price.html -->
    @@include('../layouts/price.html')

    <!-- include testimonials.html -->
    @@include('../partials/testimonials.html')

    <!-- include download.html -->
    @@include('../layouts/download.html')
    
    <!-- include download.html -->
    @@include('../layouts/contact.html')

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>
</html>