body{
    font-family: "Lato";
    font-size: 13px;
    background-color: #ffffff;
}
.title{
    font-size: 36px;
    font-weight: 900;
    text-transform: lowercase;
}
.caption{
    font-size: 20px;
    font-weight: 300;
}