<section class="testimonial">
    <h3 class="title text-center">Testimonials</h3>
    <div class="testimonial-list">
        <div class="testimonial-item">
            <img class="avatar" src="/images/testimonial_bg.png" alt="Username">
            <article class="testimonial-article">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Praesent lobortis lectus eget libero blandit venenatis. 
                        In blandit tortor vel congue malesuada. Suspendisse 
                        molestie lobortis lorem dignissim pretium.</p>
                <p class="text-right font-italic">John Doe</p>
                <p class="text-right font-italic">from some company</p>
            </article>
        </div>
    </div>
    <ul class="button-list">
        <li class="button-item active"><a class="button-link" href="#"></a></li>
        <li class="button-item"><a class="button-link" href="#"></a></li>
        <li class="button-item"><a class="button-link" href="#"></a></li>
    </ul>
</section>