<div class="contact">
    <img class="map" src="images/map_bg.png" alt="map">
    <form action="#" class="contact-form">
        <h2 class="contact-heading">Contact</h2>
        <div class="form-group">
            <input type="text" name="txt_name" placeholder="Your name" class="form-control text-center">
        </div>
        <div class="form-group">
            <input type="email" name="txt_email" placeholder="Your email" class="form-control text-center">
        </div>
        <div class="form-group">
            <input type="text" name="txt_subject" placeholder="Your subject" class="form-control text-center">
        </div>
        <div class="form-group">
            <textarea name="txt_msg" placeholder="Your message" cols="30" rows="5" class="form-control text-center txt-msg"></textarea>
        </div>
        <div class="form-group text-center">
            <input type="submit" value="Send" class="btn btn-send">
        </div>
    </form>
</div>