<section id="scroll-features" class="container features">
    <h3 class="text-center title">Summarise the features</h3>
    <p class="text-center caption">summarise what your product is all about </p>
    <div class="feature-list">
        <div class="feature-item text-center">
            <a href="#" class="icon fas fa-layer-group"></a>
            <h4 class="feature-item-title"><a class="feature-item-link" href="#">Attractive Layout</a></h4>
            <p class="feature-item-description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
        </div>
        <div class="feature-item text-center">
            <a href="#" class="icon fas fa-mobile-alt"></a>
            <h4 class="feature-item-title"><a href="#" class="feature-item-link">Fresh design</a></h4>
            <p class="feature-item-description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
        </div>
        <div class="feature-item text-center">
            <a href="#" class="icon fas fa-comments"></a>
            <h4 class="feature-item-title"><a href="#" class="feature-item-link">Multipurpose</a></h4>
            <p class="feature-item-description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
        </div>
        <div class="feature-item text-center">
            <a href="#" class="icon fas fa-desktop"></a>
            <h4 class="feature-item-title"><a href="#" class="feature-item-link">Easy to customize</a></h4>
            <p class="feature-item-description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
        </div>
    </div>
</section>