<section class="gallery container">
    <h4 class="title text-center">Show the gallery</h4>
    <p class="text-center caption">summarise what your product is all about </p>
    <div class="gallery-list">
        <div class="gallery-item">
            <div class="gallery-item-header">
                <img class="gallery-image" src="images/gallery_bg.png" alt="gallery">
                <a href="#" class="gallery-link fas fa-plus"></a>
                <h5 class="gallery-caption">Screen shot #1</h5>
            </div>
            <article class="gallery-description text-center">
                    Nunc cursus libero purus ac congue arcu cursus ut sed vitae
                     pulvinar massa idporta nequetiam elerisque mi id faucibus 
                     iaculis vitae pulvinar.
            </article>
        </div>

        <div class="gallery-item">
            <div class="gallery-item-header">
                <img class="gallery-image" src="images/gallery_bg.png" alt="gallery">
                <a href="#" class="gallery-link fas fa-plus"></a>
                <h5 class="gallery-caption">Screen shot #2</h5>
            </div>
            <article class="gallery-description  text-center">
                    Nunc cursus libero purus ac congue arcu cursus ut sed vitae
                        pulvinar massa idporta nequetiam elerisque mi id faucibus 
                        iaculis vitae pulvinar.
            </article>
        </div>
        <div class="gallery-item">
            <div class="gallery-item-header">
                <img class="gallery-image" src="images/gallery_bg.png" alt="gallery">
                <a href="#" class="gallery-link fas fa-plus"></a>
                <h5 class="gallery-caption">Screen shot #3</h5>
            </div>
            <article class="gallery-description  text-center">
                    Nunc cursus libero purus ac congue arcu cursus ut sed vitae
                        pulvinar massa idporta nequetiam elerisque mi id faucibus 
                        iaculis vitae pulvinar.
            </article>
        </div>
        <div class="gallery-item">
            <div class="gallery-item-header">
                <img class="gallery-image" src="images/gallery_bg.png" alt="gallery">
                <a href="#" class="gallery-link fas fa-plus"></a>
                <h5 class="gallery-caption">Screen shot #4</h5>
            </div>
            <article class="gallery-description  text-center">
                    Nunc cursus libero purus ac congue arcu cursus ut sed vitae
                        pulvinar massa idporta nequetiam elerisque mi id faucibus 
                        iaculis vitae pulvinar.
            </article>
        </div>
    </div>
</section>