<header class="header">
    <div class="header-menu">
        <div class="container">
            <h1 class="logo">
                <a href="#" class="logo-link">
                    <img src="/images/bazinger.png" alt="bazinger" class="logo-img">
                </a>
            </h1>
            <div class="menu">
                <input type="checkbox" class="menu-toggle" id="header-menu">
                <label for="header-menu" class="btn btn-bar fas fa-bars"></label>
                <ul class="menu-list">
                    <li class="menu-item"><a href="#" class="menu-link">Home</a></li>
                    <li class="menu-item"><a href="#" class="menu-link">Features</a></li>
                    <li class="menu-item"><a href="#" class="menu-link">Gallery</a></li>
                    <li class="menu-item"><a href="#" class="menu-link">Video</a></li>
                    <li class="menu-item"><a href="#" class="menu-link">Prices</a></li>
                    <li class="menu-item"><a href="#" class="menu-link">Testimonials</a></li>
                    <li class="menu-item"><a href="#" class="menu-link">Download</a></li>
                    <li class="menu-item"><a href="#" class="menu-link">Contact</a></li>
                </ul>
            </div>
        </div><!--/.container-->
    </div>
    <div class="slide">
            <img src="images/slide_bg.png" class="slide-image" alt="Simple-beautiful">
        <div class="slide-item">
            <article class="slide-article">
                <h2 class="slide-title"><a href="#" class="title-link">Simple, Beautiful <span class="title-em">and Amazing</span></a></h2>
                <p class="slide-desc text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Nunc eget nunc vitae tellus luctus ullamcorper. 
                    Nam porttitor ullamcorper felis at convallis. 
                    Aenean ornare vestibulum nisi fringilla lacinia. 
                    Nullam pulvinar sollicitudin velit id laoreet. 
                    Quisque non rhoncus sem.</p>
                <div class="button-group">
                    <a href="#" class="btn btn-download">Download</a>
                    <a href="#" class="btn btn-learnmore">Learn more</a>
                </div>
                <div class="logo-list">
                    Available on:
                    <a href="#" class="logo-item fab fa-apple"></a>
                    <a href="#" class="logo-item fab fa-android"></a>
                </div>
            </article>
        </div>
        <span class="chev-left fas fa-chevron-left"></span>
        <span class="chev-right fas fa-chevron-right"></span>
        <div class="control-btn-list">
            <a href="#" class="control-btn-item active">1</a>
            <a href="#" class="control-btn-item">2</a>
            <a href="#" class="control-btn-item">3</a>
        </div>
    </div>
</header>