<section id="scroll-prices" class="container price">
    <h3 class="title text-center">choose your price</h3>
    <p class="caption text-center" text-center">summarise what your product is all about </p>
    <div class="price-list">
        <div class="price-item">
            <h4 class="price-item-title">Basic package</h4>
            <div class="price-amount">20$</div>
            <article class="price-detail">
                <ul class="price-detail-list">
                    <li>Nullam suscipit vitae</li>
                    <li>Etiam faucibus</li>
                    <li>Vivamus viverra</li>
                </ul>
                <a href="#" class="purchase btn">Purchase</a>
            </article>
        </div>
        <div class="price-item">
            <h4 class="price-item-title">Professional package</h4>
            <div class="price-amount">25$</div>
            <article class="price-detail">
                <ul class="price-detail-list">
                    <li>Nullam suscipit vitae</li>
                    <li>Etiam faucibus</li>
                    <li>Vivamus viverra</li>
                </ul>
                <a href="#" class="purchase btn">Purchase</a>
            </article>
        </div>
        <div class="price-item">
            <h4 class="price-item-title">Professional package</h4>
            <div class="price-amount">30$</div>
            <article class="price-detail">
                <ul class="price-detail-list">
                    <li>Nullam suscipit vitae</li>
                    <li>Etiam faucibus</li>
                    <li>Vivamus viverra</li>
                </ul>
                <a href="#" class="purchase btn">Purchase</a>
            </article>
        </div>
    </div>
</section>