<!-- build:js(.) script/vendor.min.js -->
<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbuild -->
<!-- build:js script/script.min.js -->
<script src="scripts/lib/popup.min.js"></script>
<script src="scripts/lib/slick.min.js"></script>
<script type="text/javascript" src="scripts/scrollspy.js"></script>
<script src="scripts/slide.js"></script>
<script src="scripts/testimonial.js"></script>
<script src="scripts/popup.js"></script>
<!-- endbuild -->