<section id="scroll-video" class="container video">
    <img class="video-bg" src="images/video_bg.png" alt="video">
    <a href="https://www.youtube.com/watch?v=EQo4BD1Xbvw" class="btn btn-play fas fa-play text-center"></a>
    <h2 class="title text-center">Watch the best Technology in <span class="video-em">Action</span></h2>
    <article class="video-description text-center">Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit. 
        Nunc eget nunc vitae tellus luctus ullamcorper. 
        Nam porttitor ullamcorper felis at convallis. 
        Aenean ornare vestibulum nisi fringilla lacinia. 
        Nullam pulvinar sollicitudin velit id laoreet. 
        Quisque non rhoncus sem.</article>
</section>